################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DbOperationsEFCoreApp/DbOperationsEFCoreApp/DbOperationsEFCoreApp.csproj
